@charset "utf-8";

html {
    background: rgba(0, 0, 0, 0.025);
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    overflow: auto;
    width: 100%;

    body {
        font-family: inherit;
        height: 100%;
        width: 100%;
    }
}